<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>BookClassServlet</servlet-name>
        <servlet-class>servlet.BookClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookClassServlet</servlet-name>
        <url-pattern>/pages/BookClassServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>servlet.AttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/pages/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainerScheduleServlet</servlet-name>
        <servlet-class>servlet.TrainerScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainerScheduleServlet</servlet-name>
        <url-pattern>/pages/TrainerScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <servlet-class>servlet.ViewScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <url-pattern>/pages/ViewScheduleServlet</url-pattern>
    </servlet-mapping>
</web-app>
